<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hotel</title>

    <link rel="stylesheet" type="text/css" href="/static/css/game.css">

    <script>
        const game = {{ game|tojson }};
        const player = {{ player|tojson }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/gameManager.js"></script>

    <script src="/static/js/socketManager.js"></script>
    <script src="/static/js/renderManager.js"></script>
</head>
<body>
    <div class="stage" id="stage-0">
        Share this game ID with your players <code>{{ game.id }}</code>
        
        <ul id="players-queue">
            {% for _player in game.players %}
                <li id="queue-{{ _player.session_token }}">
                    {{ _player.username }}{% if _player.is_host %} (host){% endif %}
                </li>
            {% endfor %}
        </ul>
        
        {% if player.is_host %}
            <button onclick="startGame()">Start</button>
        {% endif %}
        <button onclick="leaveGame()">Leave</button>
    </div>

    <div class="stage" id="stage-1">
        <div class="player-action" id="dice-action"></div>
        
        <ul id="players">
            {% for _player in game.players %}
                <li id="{{ _player.session_token }}">
                    {{ _player }}
                </li>
            {% endfor %}
        </ul>

        <canvas id="game" width="1920" height="1080"></canvas>
    </div>
</body>
</html>