<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hotel</title>

    <link rel="stylesheet" type="text/css" href="/static/css/game.css">

    <script>
        const game = {{ game|tojson }};
        const player = {{ player|tojson }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/gameManager.js"></script>

    <script src="/static/js/socketManager.js"></script>
    <script src="/static/js/renderManager.js"></script>
</head>
<body>
    <div class="stage" id="stage-0">
        Share this game ID with your players <code>{{ game.id }}</code>
        
        <ul id="players-queue">
            {% for _player in game.players %}
                <li id="queue-{{ _player.session_token }}">
                    {{ _player.username }}{% if _player.is_host %} (host){% endif %}
                </li>
            {% endfor %}
        </ul>
        
        {% if player.is_host %}
            <button onclick="startGame()">Start</button>
        {% endif %}
        <button onclick="leaveGame()">Leave</button>
    </div>

    <div class="stage" id="stage-1">
        <div class="player-action" id="dice-action"></div>

        <img class="deed" id="boomerang-deed" src="/static/images/boomerang_deed.png" loading="lazy"/>
        <img class="deed" id="el_dorado-deed" src="/static/images/el_dorado_deed.png" loading="lazy"/>
        <img class="deed" id="fujiyama-deed" src="/static/images/fujiyama_deed.png" loading="lazy"/>
        <img class="deed" id="letoile-deed" src="/static/images/letoile_deed.png" loading="lazy"/>
        <img class="deed" id="majestic-deed" src="/static/images/majestic_deed.png" loading="lazy"/>
        <img class="deed" id="president-deed" src="/static/images/president_deed.png" loading="lazy"/>
        <img class="deed" id="royal-deed" src="/static/images/royal_deed.png" loading="lazy"/>
        <img class="deed" id="safari-deed" src="/static/images/safari_deed.png" loading="lazy"/>
        <img class="deed" id="taj_mahal-deed" src="/static/images/taj_mahal_deed.png" loading="lazy"/>
        <img class="deed" id="waikiki-deed" src="/static/images/waikiki_deed.png" loading="lazy"/>
        
        <ul id="players">
            {% for _player in game.players %}
                <li id="{{ _player.session_token }}">
                    {{ _player }}
                </li>
            {% endfor %}
        </ul>

        <div class="actions" id="actions"></div>

        <canvas id="game" width="1920" height="1080"></canvas>
    </div>
</body>
</html>