{% extends "auth/auth_base.html" %}

{% block content %}
    <h1>Login</h1>

    <form method="POST">
        <h3>Username</h3>
        <input type="text" name="user" placeholder="Username" autocomplete="username">

        <h3>Password</h3>
        <input type="password" name="password" placeholder="Password..." autocomplete="current-password">

        <button type="submit">Login</button>
    </form>

    <p>
        No account yet? <a href="/auth/register">Register</a>! <br>
    <p>
{% endblock %}