{% extends "auth/auth_base.html" %}

{% block content %}
    <h1>Register</h1>

    <form method="POST">
        <h3>Username</h3>
        <input type="text" name="username" maxlength="30" placeholder="Username..." autocomplete="username">
        
        <h3>Password</h3>
        <input type="password" name="password" placeholder="Password..." autocomplete="password">

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account? <a href="/t">Login</a>! <br>
        Or just play around in the <a href="/app/editor">editor</a>.
    </p>
{% endblock %}