body {
    margin: 0px;
}

.stage {
    display: none;
    background-color: gainsboro;
}
.stage.active {
    display: block;
}

ul {
    position: fixed;
}

.player-action {
    display: none;
    transition: .3s;
}
.player-action.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .75);
    color: white;
}

.dice {
    background: brown;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 10vh;
    background: rgb(0, 0, 0, .75);
    display: none;
    transition: .3s;
    text-align: center;
}
.actions.active {
    display: block;
}

.deed {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
}
.deed.active {
    display: block;
}